{% extends "layout.html" %}
{% block content %}
{% if current_user.authorization == 's_admin' %}
<div style="margin-bottom: 20px;">
  <a class="btn btn-info m-1" href="{{ url_for('companys.register_c') }}"><i class="fa-solid fa-plus"></i> Kreiraj novu kompaniju</a>
</div>
{% endif %}
<table id="data" class="table table-striped complist">
  <thead>
    <tr>
      <th>Kompanija</th>
      <th>Adresa</th>
      <th>Mesto - Država</th>
      {% if current_user.authorization == 's_admin' %}
      <th>Kontakti</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% if current_user.authorization == 's_admin' %}
      {% for company in companys %}
      <tr>
        <td>
          <a
            class="mr-2 btn btn-info"
            href="{{ url_for('companys.company_profile', company_id=company.id) }}"
            title="Uređivanje kompanije"
          >{{ company.companyname }}</a>
        </td>
        <td>
          {{ company.company_address }} {{ company.company_address_number }}
        </td>
        <td>{{ company.company_city }}, {{ company.company_state }}</td>
        <td>
          <div class="contact-info">
            {% if company.company_site %}
            <span class="contact-item" title="Web sajt"><i class="fa-solid fa-globe"></i> {{ company.company_site }}</span>
            {% endif %}
            {% if company.company_mail %}
            <span class="contact-item" title="E-mail"><i class="fa-solid fa-envelope"></i> {{ company.company_mail }}</span>
            {% endif %}
            {% if company.company_phone %}
            <span class="contact-item" title="Telefon"><i class="fa-solid fa-phone"></i> {{ company.company_phone }}</span>
            {% endif %}
          </div>
        </td>
      </tr>
      {% endfor %}
    {% else %}
      {% for company in companys %}
        {% if company.companyname == current_user.user_company.companyname %}
        <tr>
          <td>
            <a
              class="mr-2 btn btn-info"
              href="{{ url_for('companys.company_profile', company_id=company.id) }}"
              title="Uređivanje kompanije"
            >{{ company.companyname }}</a>
          </td>
          <td>
            {{ company.company_address }} {{ company.company_address_number }}
          </td>
          <td>{{ company.company_city }}, {{ company.company_state }}</td>
        </tr>
        {% endif %}
      {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endblock content%}

{% block scripts %}
<script>
  $(document).ready(function () {
    $("#data").DataTable({
      language: {
        url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json",
      },
    });
  });
</script>
<script>document.body.classList.add('company-list');</script>
{% endblock %}
