{% extends "layout.html" %}
{% block content %}
<table id="data" border="1" class="table table-striped">
  <thead>
    <tr id="header">
      <th>Modul</th>
      <th>Opis Modula</th>
    </tr>
  </thead>
  <tbody>
    {% if current_user.authorization not in ['c_user', 'c_member'] %}
    <tr>
      <td> <a class="btn btn-info" href="{{ url_for('main.settings', company_id=current_user.user_company.id) }}">Podešavanja</a> </td>
      <td>Podešavanja - razna</td>
    </tr>
    <tr>
      <td> <a class="btn btn-info" href="{{ url_for('companys.company_list') }}">Kompanija</a> </td>
      <td>Unos i promena podataka o kompaniji</td>
    </tr>
    <tr>
      <td> <a class="btn btn-info" href="{{ url_for('vehicles.vehicle_list') }}">Vozila</a> </td>
      <td>Unos i promena podataka o vozilima</td>
    </tr>
    <tr>
      <td> <a class="btn btn-info" href="{{ url_for('users.user_list') }}">Korisnici</a> </td>
      <td>Kreiranje i izmena korisničkih naloga</td>
    </tr>
    <tr>
      <td> <a class="btn btn-info" href="{{ url_for('travel_warrants.travel_warrant_list') }}">Putni nalozi</a> </td>
      <td>Kreiranje i administriranje putnih naloga</td>
    </tr>
    {% else %}
    <tr>
      <td> <a class="btn btn-info" href="{{ url_for('travel_warrants.travel_warrant_list') }}">Putni nalozi</a> </td>
      <td>Administriranje putnih naloga</td>
    </tr>
    {% endif %}
  </tbody>
</table>
<script>document.body.classList.add('home');</script>
{% endblock content%}
