{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <fieldset class="form-group">
      <legend class="border-bottom mb-3">{{ legend }}</legend>

      <div class="accordion" id="accordionZero">
        <div class="accordion-item">
          <div class="accordion-header" id="headingZero">
            <button type="button" class="accordion-button" data-toggle="collapse" data-target="#collapseZero" aria-expanded="false" aria-controls="collapseZero">
              Broj putnog naloga: {{ warrant.travel_warrant_number }}
            </button>
          </div>

          <div id="collapseZero" class="collapse" aria-labelledby="headingZero" data-parent="#accordionZero">
            <div class="card-body">
              {{ warrant.text_form | safe }}
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <br>
        <h2>Status putnog naloga: {{warrant.status}}</h2>
        <a class="btn btn-outline-info" href="{{ url_for('travel_warrants.download_file', file_name=warrant.file_name) }}">Preuzmite dokument</a>

      </div>
      <hr>
      <table id="data" border="1" class="table table-striped">
        <br>
          <thead>
            <tr id="header">
              <th>Tip troška</th>
              <th>Opis</th>
              <th>Iznos</th>
            </tr>
          </thead>
          <tbody>
            {% for trosak in troskovi %}
            <tr>
              <td class="align-middle"> {{ trosak.expenses_type }} </td>
              <td class="align-middle"> {{ trosak.description }} </td>
              <td class="align-middle"> {{ '{:,.2f}'.format(trosak.amount) }} {{ trosak.amount_currency }} </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
{% endblock content %}

{% block scripts %}
<script>
  $(document).ready(function () {
    $('#data').DataTable( {
      language: {
        url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json"
      }
    } );
  } );
</script>
<script>document.body.classList.add('read-travel');</script>
{% endblock %}
