{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <fieldset class="form-group">
      <legend class="border-bottom mb-3">{{ legend }}</legend>

      <div class="accordion" id="accordionZero">
        <div class="accordion-item">
          <div class="accordion-header" id="headingZero">
            <button type="button" class="accordion-button" data-toggle="collapse" data-target="#collapseZero" aria-expanded="false" aria-controls="collapseZero">
              <h1>Broj putnog naloga: {{ warrant.travel_warrant_number }}</h1>
            </button>
          </div>

          <div id="collapseZero" class="collapse" aria-labelledby="headingZero" data-parent="#accordionZero">
            <div class="card-body">
              <h3>{{ rod[0] }} {{ warrant.travelwarrant_user.name }} {{ warrant.travelwarrant_user.surname }} {{ rod[1] }} na poslove radnog mesta {{ warrant.travelwarrant_user.workplace }} upućuje se na službeni put dana {{warrant.start_datetime.strftime('%d.%m.%Y')}} u {{ warrant.relation }} sa zadatkom: {{ warrant.with_task }}</h3>
              <br>
              <h3>Na službenom putu koristi prevozno sredstvo registarske tablice: {{ warrant.travelwarrant_vehicle.vehicle_registration }} {{ warrant.personal_registration }}</h3>
              <br>
              <h3>Dnevnica za ovo služebno putovanje pripada u iznosu od: {{ warrant.daily_wage }} {{ warrant.daily_wage_currency }}</h3>
              <h3>Na službenom putu će se zadržati najdalje do {{ warrant.end_datetime.strftime('%d.%m.%Y') }}, a u roku od 48h po povratku sa službenog puta i dolask na posao, podnešće pismeni izveštaj o obavljenom službenom poslu. Račun o učinjenim putnim troškovima podneti u roku od tri dana</h3>
              <br>
              <h3>Putni troškovi padaju na teret: {{ warrant.costs_pays }}</h3>
              <br>
              {% if warrant.advance_payment > 0  %}
                <h3>Odobravam isplatu akontacije u iznosu od: {{ warrant.advance_payment }} {{ warrant.advance_payment_currency }}</h3>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <br>
        <h2>Status putnog naloga: {{warrant.status}}</h2>
        <a class="btn btn-outline-info" href="{{ url_for('travel_warrants.download_file', file_name=warrant.file_name) }}">Preuzmite dokument</a>

      </div>
      <hr>
      <table id="data" border="1" class="table table-striped">
        <br>
          <thead>
            <tr id="header">
              <th>Tip troška</th>
              <th>Datum</th>
              <th>Opis</th>
              <th>Iznos</th>
            </tr>
          </thead>
          <tbody>
            {% for trosak in troskovi %}
            <tr>
              <td class="align-middle"> {{ trosak.expenses_type }} </td>
              <td class="align-middle"> {{ trosak.expenses_date.date() }} </td>
              <td class="align-middle"> {{ trosak.description }} </td>
              <td class="align-middle"> {{ trosak.amount }} {{ trosak.amount_currency }} </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
{% endblock content %}

{% block scripts %}
<script>
  $(document).ready(function () {
    $('#data').DataTable( {
      language: {
        url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json"
      }
    } );
  } );
</script>
{% endblock %}
