{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class=""> Zaposleni: <input type="text" class="form-control form-control-lg" value="{{ ime_prezime }} " disabled></legend>
        <legend class="border-bottom mb-4"> <input class="form-control form-control-lg" type="datetime-local", value="{{ datum }}" disabled></legend>
        <div class="row">
          <div class=" col form-group">
            {{ form.with_task.label(class="form-control-label") }}
              {% if form.with_task.errors %}
                  {{ form.with_task(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.with_task.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.with_task(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <div class="col form-box col-md-3">
            {{ form.end_datetime.label(class="form-control-label") }}
              {% if form.end_datetime.errors %}
                  {{ form.end_datetime(class="form-control form-control-lg is-invalid", min=datum) }}
                  <div class="invalid-feedback">
                      {% for error in form.end_datetime.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.end_datetime(class="form-control form-control-lg", type="datetime-local", min=datum, max=end_datum) }}
              {% endif %}
          </div>
        </div>
        
        <div class="form-check form-switch">
          {{ form.abroad(class="form-check-input", onclick="myFunction()", id="abroad_id") }} 
          {{ form.abroad.label(class="form-check-label") }}
        </div>
        <div class="form-box top15">
          {{ form.relation.label(class="form-control-label") }} 
          {% if form.relation.errors %} 
            {{ form.relation(class="form-control form-control-lg is-invalid") }}
              {% for error in form.relation.errors %}
                <span>{{ error }}</span>
              {% endfor %}
          {% else %} 
            {{ form.relation(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="row top15 dva-jedan">
          <div 
          id="collapseZero" 
          class="collapse" 
          aria-labelledby="headingZero">
            <div class="card-body">
              {{ form.abroad_contry.label(class="form-control-label") }}
              {% if form.abroad_contry.errors %}
                {{ form.abroad_contry(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.abroad_contry.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.abroad_contry(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            <div class="card-body">
              {{ form.daily_wage_abroad.label(class="form-control-label") }}
              {% if form.daily_wage_abroad.errors %}
                {{ form.daily_wage_abroad(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.daily_wage_abroad.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.daily_wage_abroad(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            <div class="card-body">
              {{ form.daily_wage_abroad_currency.label(class="form-control-label") }}
                {% if form.daily_wage_abroad_currency.errors %}
                    {{ form.daily_wage_abroad_currency(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.daily_wage_abroad_currency.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.daily_wage_abroad_currency(class="form-select form-select-lg") }}
                {% endif %}
            </div>
          </div>

          <div class="col form-box flex-prvi">
            {{ form.daily_wage.label(class="form-control-label") }}

              {% if form.daily_wage.errors %}
                  {{ form.daily_wage(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.daily_wage.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.daily_wage(class="form-control form-control-lg", id="daily_wage") }}
              {% endif %}
          </div>
          <div class="col form-box col-md-2 minw120 flex-drugi">
            {{ form.daily_wage_currency.label(class="form-control-label") }}
              {% if form.daily_wage_currency.errors %}
                  {{ form.daily_wage_currency(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.daily_wage_currency.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.daily_wage_currency(class="form-select form-select-lg") }}
              {% endif %}
          </div>
        </div>
        <br>
        <div class="row dva-jedan">
          <div class="col form-box flex-prvi">
            {{ form.advance_payment.label(class="form-control-label") }}
              {% if form.advance_payment.errors %}
                  {{ form.advance_payment(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.advance_payment.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.advance_payment(class="form-control form-control-lg") }}
              {% endif %}
          </div>


          <div class="col form-box col-md-2 minw120 flex-drugi">
            {{ form.advance_payment_currency.label(class="form-control-label") }}
              {% if form.advance_payment_currency.errors %}
                  {{ form.advance_payment_currency(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.advance_payment_currency.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.advance_payment_currency(class="form-select form-select-lg") }}
              {% endif %}
          </div>
        </div>

        <div class="form-group">
          {{ form.company_id.label(class="sr-only form-control-label") }}
            {% if form.company_id.errors %}
                {{ form.company_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.company_id.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.company_id(class="sr-only form-control form-control-lg") }}
            {% endif %}
        </div>




        <br>
        <div id="accordion">
          <div class="accordion-item">
            <div class="accordion-header" id="headingOne">
              <h5 class="mb-0">
                <button type="button" class="accordion-button collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  {{ form.vehicle_id.label(class="form-control-label") }}
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <div class="form-box">
                  {% if form.vehicle_id.errors %}
                    {{ form.vehicle_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.vehicle_id.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.vehicle_id(class="form-select form-select-lg") }}
                  {% endif %}
                </div>
                <small class="text-muted ml-2">
                  <a href="{{ url_for('vehicles.register_v') }}">Registrujte novo vozilo </a>
                </small>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingTwo">
              <h5 class="mb-0">
                <button type="button" class="accordion-button collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  {{ form.together_with.label(class="form-control-label") }}
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <div class="form-box">
                    {% if form.together_with.errors %}
                        {{ form.together_with(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.together_with.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.together_with(class="form-select form-select-lg", placeholder="Uneti broj putnog naloga kolege koji vozi službeno vozilo") }}
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingThree">
              <h5 class="mb-0">
                <button type="button" class="accordion-button collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Privatno vozilo:
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse inertop15" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <div class="form-box">
                  {% if form.personal_vehicle_id.errors %}
                    {{ form.personal_vehicle_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.personal_vehicle_id.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.personal_vehicle_id(class="form-select form-select-lg") }}
                  {% endif %}
                </div>
                <small class="text-muted ml-2">
                  <a href="{{ url_for('vehicles.register_v') }}">Registrujte novo vozilo </a>
                </small>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingFour">
              <h5 class="mb-0">
                <button type="button" class="accordion-button collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  {{ form.other.label(class="form-control-label") }}
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <div class="form-box">
                    {% if form.other.errors %}
                        {{ form.other(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.other.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.other(class="form-control form-control-lg", placeholder="Avion, Autobus, Taxi ...") }}
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>

        <br>

        <div class="form-box">
          {{ form.costs_pays.label(class="form-control-label") }}
            {% if form.costs_pays.errors %}
                {{ form.costs_pays(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.costs_pays.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.costs_pays(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-box top15">
          {{ form.principal_id.label(class="form-control-label") }}
            {% if form.principal_id.errors %}
                {{ form.principal_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.principal_id.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.principal_id(class="form-select form-select-lg") }}
            {% endif %}
        </div>
        <div class="form-box top15">
          {{ form.cashier_id.label(class="form-control-label") }}
            {% if form.cashier_id.errors %}
                {{ form.cashier_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.cashier_id.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.cashier_id(class="form-select form-select-lg") }}
            {% endif %}
        </div>
      </fieldset>
      <div class="form-group top50">
        <a class="btn btn-info" href="{{url_for('travel_warrants.travel_warrant_list')}}">Nazad</a>
        {{ form.submit(class="btn btn-outline-info", onclick="prekoNeoporezivog()") }}
      </div>
  </form>
</div>
{% endblock content%}

{% block scripts %}
<script>
  var booleanValue = '{{form.abroad.data}}';
  // window.alert(booleanValue);
  if (booleanValue === 'True') {
    booleanValue = false;
  } else if (booleanValue === 'False') {
    booleanValue = true;
  };
  window.onload = function() {
    myFunction();
  };

  // window.(booleanValue);
  function myFunction() {
    booleanValue = !booleanValue;
    // window.alert(booleanValue);
    var x = document.getElementById("collapseZero");
    if (booleanValue === true) {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

  function prekoNeoporezivog() {
    var neoporeziv_iznos = '{{ form.daily_wage.data }}';
    var dnevnica = +document.getElementById("daily_wage").value;
    // alert(dnevnica);
    // alert(neoporeziv_iznos);
    if (dnevnica > neoporeziv_iznos) {
      alert('Obaveštavamo Vas da je iznos dnevnice veći od neoporezivog iznosa!');
    }
  }
</script>
<script>document.body.classList.add('register-tw');</script>
{% endblock %}