{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Create New Travel Warrant</legend>
        <div class="form-group">
          {{ form.user_id.label(class="form-control-label") }}

            {% if form.user_id.errors %}
                {{ form.user_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.user_id.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.user_id(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
          {{ form.with_task.label(class="form-control-label") }}

            {% if form.with_task.errors %}
                {{ form.with_task(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.with_task.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.with_task(class="form-control form-control-lg") }}
            {% endif %}
        </div>

        <div class="form-group">
          {{ form.company_id.label(class="sr-only form-control-label") }}

            {% if form.company_id.errors %}
                {{ form.company_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.company_id.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.company_id(class="sr-only form-control form-control-lg") }}
            {% endif %}
        </div>

        <div id="accordionZero">
        <div class="card">
          <div class="card-header" id="headingZero">
            <h5 class="mb-0">
              <button type="button" class="btn" data-toggle="collapse" data-target="#collapseZero" aria-expanded="false" aria-controls="collapseZero">
                Putovanje U Inostranstvo
              </button>
            </h5>
          </div>

          <div id="collapseZero" class="collapse" aria-labelledby="headingZero" data-parent="#accordionZero">
            <div class="card-body">
              {{ form.abroad_contry.label(class="form-control-label") }}

                {% if form.abroad_contry.errors %}
                    {{ form.abroad_contry(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.abroad_contry.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.abroad_contry(class="form-control form-control-lg") }}
                {% endif %}
            </div>
          </div>
        </div>
        </div>

        <br>
        <div class="form-box">
          {{ form.relation.label(class="form-control-label") }}

            {% if form.relation.errors %}
                {{ form.relation(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.relation.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.relation(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-box">
          {{ form.start_datetime.label(class="form-control-label") }}

            {% if form.start_datetime.errors %}
                {{ form.start_datetime(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.start_datetime.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.start_datetime(class="form-control form-control-lg", type="datetime-local") }}
            {% endif %}
        </div>
        <div class="form-box">
          {{ form.end_datetime.label(class="form-control-label") }}

            {% if form.end_datetime.errors %}
                {{ form.end_datetime(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.end_datetime.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.end_datetime(class="form-control form-control-lg", type="datetime-local") }}
            {% endif %}
        </div>



        <br>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button type="button" class="btn " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  {{ form.vehicle_id.label(class="form-control-label") }}
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <div class="form-box">
                    {% if form.vehicle_id.errors %}
                        {{ form.vehicle_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.vehicle_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.vehicle_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button type="button" class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  {{ form.together_with.label(class="form-control-label") }}
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <div class="form-box">
                    {% if form.together_with.errors %}
                        {{ form.together_with(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.together_with.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.together_with(class="form-control form-control-lg", placeholder="Uneti broj putnog naloga kolege koji vozi službeno vozilo") }}
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button type="button" class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Lično Vozilo:
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <div class="form-box">
                  {{ form.personal_type.label(class="form-control-label") }}

                    {% if form.personal_type.errors %}
                        {{ form.personal_type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.personal_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.personal_type(class="form-control form-control-lg", placeholder="Uneti broj putnog naloga kolege koji vozi službeno vozilo") }}
                    {% endif %}
                </div>
                <div class="form-box">
                  {{ form.personal_brand.label(class="form-control-label") }}

                    {% if form.personal_brand.errors %}
                        {{ form.personal_brand(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.personal_brand.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.personal_brand(class="form-control form-control-lg", placeholder="Uneti brend ličnog vozila") }}
                    {% endif %}
                </div>
                <div class="form-box">
                  {{ form.personal_registration.label(class="form-control-label") }}

                    {% if form.personal_registration.errors %}
                        {{ form.personal_registration(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.personal_registration.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.personal_registration(class="form-control form-control-lg", placeholder="Uneti registraciju ličnog vozila") }}
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button type="button" class="btn collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  {{ form.other.label(class="form-control-label") }}
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <div class="form-box">
                    {% if form.other.errors %}
                        {{ form.other(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.other.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.other(class="form-control form-control-lg", placeholder="Avion, Autobus, Taxi ...") }}
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="form-box">
          {{ form.advance_payment.label(class="form-control-label") }}

            {% if form.advance_payment.errors %}
                {{ form.advance_payment(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.advance_payment.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.advance_payment(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-box">
          {{ form.advance_payment_currency.label(class="form-control-label") }}

            {% if form.advance_payment_currency.errors %}
                {{ form.advance_payment_currency(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.advance_payment_currency.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.advance_payment_currency(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <br>
        <div class="form-box">
          {{ form.daily_wage.label(class="form-control-label") }}

            {% if form.daily_wage.errors %}
                {{ form.daily_wage(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.daily_wage.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.daily_wage(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-box">
          {{ form.daily_wage_currency.label(class="form-control-label") }}

            {% if form.daily_wage_currency.errors %}
                {{ form.daily_wage_currency(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.daily_wage_currency.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.daily_wage_currency(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <br>
        <div class="form-box">
          {{ form.costs_pays.label(class="form-control-label") }}

            {% if form.costs_pays.errors %}
                {{ form.costs_pays(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.costs_pays.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.costs_pays(class="form-control form-control-lg") }}
            {% endif %}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
  </form>
</div>
{% endblock content%}
