{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Create New Travel Warrant</legend>
        <div class="form-group">
          {{ form.with_task.label(class="form-control-label") }}

            {% if form.with_task.errors %}
                {{ form.with_task(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.with_task.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.with_task(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
          {{ form.user_id.label(class="form-control-label") }}

            {% if form.user_id.errors %}
                {{ form.user_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.user_id.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.user_id(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
          {{ form.user_id.label(class="form-control-label") }}

            {% if form.company_id.errors %}
                {{ form.company_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.company_id.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.company_id(class="sr-only form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="checkbox-card">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="Država: " onclick="dynInput(this);" class="checkme" /> Putovanje U Inostranstvo
            </label>
          </div>
          <div class="form-box">
            {{ form.abroad_contry.label(class="form-control-label") }}

              {% if form.abroad_contry.errors %}
                  {{ form.abroad_contry(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.abroad_contry.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.abroad_contry(class="form-control form-control-lg") }}
              {% endif %}
          </div>
        </div>
        <br>
        <div class="form-box">
          {{ form.relation.label(class="form-control-label") }}

            {% if form.relation.errors %}
                {{ form.relation(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.relation.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.relation(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-box">
          {{ form.start_datetime.label(class="form-control-label") }}

            {% if form.start_datetime.errors %}
                {{ form.start_datetime(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.start_datetime.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.start_datetime(class="form-control form-control-lg", type="datetime-local") }}
            {% endif %}
        </div>
        <div class="form-box">
          {{ form.end_datetime.label(class="form-control-label") }}

            {% if form.end_datetime.errors %}
                {{ form.end_datetime(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.end_datetime.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.end_datetime(class="form-control form-control-lg", type="datetime-local") }}
            {% endif %}
        </div>



        <br>
        <div class="form-group">
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio1">Službeno Vozilo:</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio2">Broj Koleginog Putnog Naloga:</label>
          </div>
          <div class="form-box">
            ---dodati kod za funkcionalnos ovog inputa---
            <input class="form-control form-control-lg" placeholder="Uneti broj putnog naloga kolege koji vozi službeno vozilo">
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio3">Lično Vozilo:</label>
          </div>
          <div class="form-box">
            ---dodati kod za funkcionalnos ovog inputa---
            <input class="form-control form-control-lg" placeholder="Registracija vozila">
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio4">Drugo:</label>
          </div>
          <div class="form-box">
            ---dodati kod za funkcionalnos ovog inputa---
            <input class="form-control form-control-lg" placeholder="Avion, Autobus, Taxi ...">
          </div>
        </div>




      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
  </form>
</div>
{% endblock content%}
