{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <div class="row">
        <div class="col form-box col-md-6 full-on-mob">
          {{ form.daily_wage_domestic.label(class="form-control-label") }}
            {% if form.daily_wage_domestic.errors %}
                {{ form.daily_wage_domestic(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.daily_wage_domestic.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.daily_wage_domestic(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="col form-box col-md-6 full-on-mob top15mob">
          {{ form.daily_wage_abroad.label(class="form-control-label") }}
            {% if form.daily_wage_abroad.errors %}
                {{ form.daily_wage_abroad(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.daily_wage_abroad.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.daily_wage_abroad(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="col form-box col-md-6 full-on-mob top15mob">
            {{ form.default_currency.label(class="form-control-label") }}
            {% if form.default_currency.errors %}
                {{ form.default_currency(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.default_currency.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.default_currency(class="form-select form-select-lg") }}
            {% endif %}
        </div>
        <br>
        <br>
        <legend class="border-bottom mb-3">Podešavanje opcija slanja mejla:</legend>
        <div class="form-check form-switch">
          {{ form.send_email_kreiran(class="form-check-input") }} 
          {{ form.send_email_kreiran.label(class="form-check-label") }}
        </div>
        <div class="form-check form-switch">
          {{ form.send_email_kreiran_principal(class="form-check-input") }} 
          {{ form.send_email_kreiran_principal.label(class="form-check-label") }}
        </div>
        <div class="form-check form-switch">
          {{ form.send_email_zavrsen(class="form-check-input") }} 
          {{ form.send_email_zavrsen.label(class="form-check-label") }}
        </div>
        <!-- dodaj if blok -->
        {% if premium %}
          <div class="form-check form-switch">
            {{ form.send_email_obracunat_cashier(class="form-check-input") }} 
            {{ form.send_email_obracunat_cashier.label(class="form-check-label") }}
          </div>
        {% else %}
          <legend class="border-bottom mb-3">Podešavanje opcija za premijum paket:</legend>
          <div class="form-check form-switch">
            {{ form.send_email_obracunat_cashier(class="form-check-input", readonly=True, disabled=True) }} 
            {{ form.send_email_obracunat_cashier.label(class="form-check-label") }}
          </div>
        {% endif %}
        <div class="button-group">
          <br>
          <a class="btn btn-info" href="{{url_for('main.home')}}">Nazad</a>
          {{ form.submit(class="btn btn-outline-primary") }}
        </div>

      </div>
    </fieldset>
  </form>
</div>
<script>document.body.classList.add('settings');</script>
{% endblock content%}
