{% extends "layout.html" %}
{% block content %}
<h2>Ova stranica služi za definisanje/prezentaciju standardnih dugmića itd</h2>
<hr>
<div>
    <legend>Puni dugmići</legend>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
</div>
<a href="https://getbootstrap.com/docs/4.0/components/buttons/#examples" target="_blank">Link ka Bootstrap primerima</a>
<hr>
<div>
    <legend>Outline dugmići</legend>
    <button type="button" class="btn btn-outline-primary btn-lg">Primary</button>
    <button type="button" class="btn btn-outline-secondary btn-sm">Secondary</button>
    <button type="button" class="btn btn-outline-success">Success</button>
    <button type="button" class="btn btn-outline-danger">Danger</button>
    <button type="button" class="btn btn-outline-warning">Warning</button>
    <button type="button" class="btn btn-outline-info">Info</button>
    <button type="button" class="btn btn-outline-light">Light</button>
    <button type="button" class="btn btn-outline-dark">Dark</button>
</div>
<a href="https://getbootstrap.com/docs/4.0/components/buttons/#outline-buttons" target="_blank">Link ka Bootstrap primerima</a>
<hr>

{% endblock content%}
