{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form  action="" method="POST">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">{{ legend }}</legend>
      {% if form.errors %}
      debag line: {{ form.errors }}
      {% endif %}
      <div id="accordionZero">
        <div class="accordion" id="accordionZero">
          <div class="accordion-item">
            <div class="accordion-header" id="headingZero">
              <button type="button" class="accordion-button" data-toggle="collapse" data-target="#collapseZero" aria-expanded="false" aria-controls="collapseZero">
                <h1>Broj putnog naloga: {{ warrant.travel_warrant_number }}</h1>
              </button>
            </div>

            <div id="collapseZero" class="collapse" aria-labelledby="headingZero" data-parent="#accordionZero">
              <div class="card-body">
                <h3>{{ rod[0] }} {{ warrant.travelwarrant_user.name }} {{ warrant.travelwarrant_user.surname }} {{ rod[1] }} na poslove radnog mesta {{ warrant.travelwarrant_user.workplace }} upućuje se na službeni put dana {{warrant.start_datetime.strftime('%d.%m.%Y')}} u {{ warrant.relation }} sa zadatkom: {{ warrant.with_task }}</h3>
                <br>
                <h3>Na službenom putu koristi prevozno sredstvo registarske tablice: {{ warrant.travelwarrant_vehicle.vehicle_registration }} {{ warrant.personal_registration }}</h3>
                <br>
                <h3>Dnevnica za ovo služebno putovanje pripada u iznosu od: {{ warrant.daily_wage }} {{ warrant.daily_wage_currency }}</h3>
                <h3>Na službenom putu će se zadržati najdalje do {{ warrant.end_datetime.strftime('%d.%m.%Y') }}, a u roku od 48h po povratku sa službenog puta i dolask na posao, podnešće pismeni izveštaj o obavljenom službenom poslu. Račun o učinjenim putnim troškovima podneti u roku od tri dana</h3>
                <br>
                <h3>Putni troškovi padaju na teret: {{ warrant.costs_pays }}</h3>
                <br>
                {% if warrant.advance_payment > 0  %}
                  <h3>Odobravam isplatu akontacije u iznosu od: {{ warrant.advance_payment }} {{ warrant.advance_payment_currency }}</h3>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">

        <div class="col" id="accordionAbrod">
            <br>
        <div class="accordion-item">
          <div class="accordion-header" id="headingAbrod">
              <button type="button" class="accordion-button" data-toggle="collapse" data-target="#collapseAbrod" aria-expanded="false" aria-controls="collapseAbrod">
                Putovanje U Inostranstvo
              </button>
          </div>
          <div id="collapseAbrod" class="collapse" aria-labelledby="headingAbrod" data-parent="#accordionAbrod">
            <div class="card-body">
              {{ form.abroad_contry.label(class="form-control-label") }}
                {% if form.abroad_contry.errors %}
                    {{ form.abroad_contry(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.abroad_contry.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.abroad_contry(class="form-control form-control-lg") }}
                {% endif %}
            </div>
          </div>
        </div>
        </div>
        <div class="col form-box">
          {{ form.relation.label(class="form-control-label") }}

            {% if form.relation.errors %}
                {{ form.relation(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.relation.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.relation(class="form-control form-control-lg") }}
            {% endif %}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col form-box">
          {{ form.with_task.label(class="form-control-label") }}
            {% if form.with_task.errors %}
                {{ form.with_task(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.with_task.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.with_task(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="col form-box">
          {{ form.start_datetime.label(class="form-control-label") }}
            {% if form.start_datetime.errors %}
                {{ form.start_datetime(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.start_datetime.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.start_datetime(class="form-control form-control-lg", type="datetime-local") }}
            {% endif %}
        </div>

      </div>
      <div class="row">
        <div class="col form-box">
          {{ form.status.label(class="form-control-label") }}
            {% if form.status.errors %}
                {{ form.status(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.status.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.status(class="form-select form-select-lg") }}
            {% endif %}
        </div>
        <div class="col form-box">
          {{ form.end_datetime.label(class="form-control-label") }}
            {% if form.end_datetime.errors %}
                {{ form.end_datetime(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.end_datetime.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.end_datetime(class="form-control form-control-lg", type="datetime-local") }}
            {% endif %}
        </div>
      </div>




      <br>


      <br>
      <div id="accordion">
        <div class="accordion-item">
          <div class="accordion-header" id="headingOne">
            <button type="button" class="accordion-button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              {{ form.vehicle_id.label(class="form-control-label") }}
            </button>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <div class="form-box">
                  {% if form.vehicle_id.errors %}
                      {{ form.vehicle_id(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.vehicle_id.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.vehicle_id(class="form-select form-select-lg") }}
                  {% endif %}
              </div>
              <div class="form-box">
                {{ form.km_start.label(class="form-control-label") }}

                  {% if form.km_start.errors %}
                      {{ form.km_start(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.km_start.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.km_start(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
              <div class="form-box">
                {{ form.km_end.label(class="form-control-label") }}

                  {% if form.km_end.errors %}
                      {{ form.km_end(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.km_end.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.km_end(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" id="headingTwo">
            <button type="button" class="accordion-button collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              {{ form.together_with.label(class="form-control-label") }}
            </button>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <div class="form-box">
                  {% if form.together_with.errors %}
                      {{ form.together_with(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.together_with.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.together_with(class="form-select form-select-lg", placeholder="Uneti broj putnog naloga kolege koji vozi službeno vozilo") }}
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" id="headingThree">
            <button type="button" class="accordion-button collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Lično Vozilo:
            </button>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <div class="form-box">
                {{ form.personal_type.label(class="form-control-label") }}

                  {% if form.personal_type.errors %}
                      {{ form.personal_type(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.personal_type.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.personal_type(class="form-select form-select-lg", placeholder="Uneti broj putnog naloga kolege koji vozi službeno vozilo") }}
                  {% endif %}
              </div>
              <div class="form-box">
                {{ form.personal_brand.label(class="form-control-label") }}

                  {% if form.personal_brand.errors %}
                      {{ form.personal_brand(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.personal_brand.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.personal_brand(class="form-control form-control-lg", placeholder="Uneti brend ličnog vozila") }}
                  {% endif %}
              </div>
              <div class="form-box">
                {{ form.personal_registration.label(class="form-control-label") }}

                  {% if form.personal_registration.errors %}
                      {{ form.personal_registration(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.personal_registration.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.personal_registration(class="form-control form-control-lg", placeholder="Uneti registraciju ličnog vozila") }}
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" id="headingFour">
            <h5 class="mb-0">
              <button type="button" class="accordion-button collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                {{ form.other.label(class="form-control-label") }}
                <!-- https://getbootstrap.com/docs/5.2/components/accordion/#css -->
                <!-- https://getbootstrap.com/docs/5.2/components/accordion/#css -->
                <!-- https://getbootstrap.com/docs/5.2/components/accordion/#css -->
                <!-- https://getbootstrap.com/docs/5.2/components/accordion/#css -->
                <!-- https://getbootstrap.com/docs/5.2/components/accordion/#css -->
                <!-- https://getbootstrap.com/docs/5.2/components/accordion/#css -->
                <!-- https://getbootstrap.com/docs/5.2/components/accordion/#css -->
                <!-- https://getbootstrap.com/docs/5.2/components/accordion/#css -->
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              <div class="form-box">
                  {% if form.other.errors %}
                      {{ form.other(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.other.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.other(class="form-control form-control-lg", placeholder="Avion, Autobus, Taxi ...") }}
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <hr>
      <div class="form-group">
        <a class="btn btn-info" href="{{ url_for('travel_warrants.add_expenses', warrant_id=warrant.travel_warrant_id) }}">Dodaj trošak</a>
      </div>
      <br>
      <table id="data" border="1" class="table table-striped">
          <thead>
            <tr id="header">
              <th>Tip troška</th>
              <th>Datum</th>
              <th>Opis</th>
              <th>Iznos</th>
            </tr>
          </thead>
          <tbody>
            {% for trosak in troskovi %}
            <tr>
              <td class="align-middle"> {{ trosak.expenses_type }} </td>
              <td class="align-middle"> {{ trosak.expenses_date }} </td>
              <td class="align-middle"> {{ trosak.description }} </td>
              <td class="align-middle"> {{ trosak.amount }} {{ trosak.amount_currency }} </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      <br>
      <hr>


    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }} <a class="btn btn-info" href="{{ url_for('travel_warrants.download_file', file_name=warrant.file_name) }}">Preuzimi dokument</a>
    </div>
  </form>
</div>
{% endblock content%}
