{% extends "layout.html" %}
{% block content %}
{% if current_user.authorization != 'c_user' %}
  <a class="btn btn-info btn-sm m-1" href="{{ url_for('travel_warrants.register_tw') }}">Create New Travel Warrant</a>
{% endif %}
<hr>
<table id="data" border="1" class="table table-striped">
  {% if current_user.authorization == 's_admin' %}
    <thead>
      <tr id="header">
        <th>Br Putnog Naloga</th>
        <th>Company</th>
        <th>Zaposleni</th>
        <th>Dodeljeno Vozilo</th>
      </tr>
    </thead>
    <tbody>
      {% for warrant in warrants %}
        <tr>
          <td> <a class="mr-2" href="{{ url_for('travel_warrants.travel_warrant_profile', warrant_id=warrant.travel_warrant_id) }}" title="Edit Travel Warrant"> {{ warrant.travel_warrant_id }} </a> </td>
          <td> {{ warrant.travelwarrant_company.companyname }} </td>
          <td> {{ warrant.travelwarrant_user.name }} {{ warrant.travelwarrant_user.surname }} </td>
          <td> ### </td>
        </tr>
      {% endfor %}
    </tbody>
  {% elif current_user.authorization == 'c_admin' %}
    <thead>
      <tr id="header">
        <th>Br Putnog Naloga</th>
        <th>Zaposleni</th>
        <th>Dodeljeno Vozilo</th>
      </tr>
    </thead>
    <tbody>
      {% for warrant in warrants %}
        {% if current_user.user_company.id == warrant.travelwarrant_company.id %}
          <tr>
            <td> <a class="mr-2" href="{{ url_for('travel_warrants.travel_warrant_profile', warrant_id=warrant.travel_warrant_id) }}" title="Edit Travel Warrant"> {{ warrant.travel_warrant_id }} </a> </td>
            <td> {{ warrant.travelwarrant_user.name }} {{ warrant.travelwarrant_user.surname}} </td>
            <td> ### </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  {% else %}
    <thead>
      <tr id="header">
        <th>Br Putnog Naloga</th>
        <th>Zaposleni</th>
        <th>Dodeljeno Vozilo</th>
      </tr>
    </thead>
    <tbody>
      {% for warrant in warrants %}
        {% if current_user.id == warrant.travelwarrant_user.id %}
          <tr>
            <td> <a class="mr-2" href="{{ url_for('travel_warrants.travel_warrant_profile', warrant_id=warrant.travel_warrant_id) }}" title="Edit Travel Warrant"> {{ warrant.travel_warrant_id }} </a> </td>
            <td> {{ warrant.travelwarrant_user.name }} {{ warrant.travelwarrant_user.surname}} </td>
            <td> ### </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  {% endif %}
</table>
{% endblock content%}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}
