{% extends "layout.html" %} {% block content %}
<div class="content-section" onload="myFunction()">
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      {% if form.errors %} debag line: {{ form.errors }} {% endif %}
      <h3><strong>Broj putnog naloga: {{ warrant.travel_warrant_number }}</strong></h3>
      Zaposleni: 
      <input type="text" class="form-control form-control-lg" value="{{ warrant.travelwarrant_user.name }}  {{ warrant.travelwarrant_user.surname }}" disabled>
      <input class="form-control form-control-lg" type="datetime-local", value="{{ warrant.start_datetime }}" disabled>
      <div class="accordion nothere" id="accordionZero">
        <div class="accordion-item">
          <div class="accordion-header" id="headingZero">
            <button
              type="button"
              class="accordion-button collapsed"
              data-toggle="collapse"
              data-target="#collapseZero"
              aria-expanded="false"
              aria-controls="collapseZero"
            >
              Detalji
              <!-- https://getbootstrap.com/docs/5.2/components/accordion/#css -->
              <!-- https://getbootstrap.com/docs/5.2/components/accordion/#css -->
              <!-- https://getbootstrap.com/docs/5.2/components/accordion/#css -->
              <!-- https://getbootstrap.com/docs/5.2/components/accordion/#css -->
              <!-- https://getbootstrap.com/docs/5.2/components/accordion/#css -->
              <!-- https://getbootstrap.com/docs/5.2/components/accordion/#css -->
              <!-- https://getbootstrap.com/docs/5.2/components/accordion/#css -->
              <!-- https://getbootstrap.com/docs/5.2/components/accordion/#css -->
            </button>
          </div>

          <div
            id="collapseZero"
            class="collapse"
            aria-labelledby="headingZero"
            data-parent="#accordionZero"
          >
            <div class="card-body">
              <p>{{ warrant.text_form }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col form-box col-md-6">
          {{ form.with_task.label(class="form-control-label") }} 
          {% if form.with_task.errors %} 
            {{ form.with_task(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.with_task.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %} 
            {{ form.with_task(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="col form-box col-md-3">
          {{ form.start_datetime.label(class="form-control-label") }} 
          {% if form.start_datetime.errors %} 
            {{ form.start_datetime(class="form-control form-control-lg is-invalid")  }}
            <div class="invalid-feedback">
              {% for error in form.start_datetime.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %} 
            {{ form.start_datetime(class="form-control form-control-lg", type="datetime-local", min=start_datetime_min, max=start_datetime_max) }}
          {% endif %}
        </div>
        <div class="col form-box col-md-3">
          {{ form.end_datetime.label(class="form-control-label") }} 
          {% if form.end_datetime.errors %} 
            {{ form.end_datetime(class="form-control form-control-lg is-invalid", min=warrant.start_datetime) }}
            <div class="invalid-feedback">
              {% for error in form.end_datetime.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %} 
            {{ form.end_datetime(class="form-control form-control-lg", type="datetime-local", min=warrant.start_datetime, max=end_datum) }} 
          {% endif %}
        </div>
      </div>
      <br />
      <div class="form-check form-switch top0" onload="myFunction()">
        {{ form.abroad(class="form-check-input", onclick="myFunction()", id="abroad_id") }} 
        {{ form.abroad.label(class="form-check-label") }}
        <!-- test: {{form.abroad.data}} -->
      </div>
      <div class="form-box">
        {{ form.relation.label(class="form-control-label") }} 
        {% if form.relation.errors %} 
        {{ form.relation(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.relation.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %} 
          {{ form.relation(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="row">
        <div
        id="collapseAbrod"
        class="collapse"
        aria-labelledby="headingAbrod"
        >
          <div class="card-body">
            {{ form.abroad_contry.label(class="form-control-label") }} 
            {% if form.abroad_contry.errors %} 
            {{ form.abroad_contry(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.abroad_contry.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.abroad_contry(class="form-control
            form-control-lg") }} {% endif %}
          </div>
          <div class="card-body">
            {{ form.daily_wage_abroad.label(class="form-control-label") }} 
            {% if form.daily_wage_abroad.errors %} 
              {{ form.daily_wage_abroad(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.daily_wage_abroad.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %} 
              {{ form.daily_wage_abroad(class="form-control form-control-lg") }} 
            {% endif %}
          </div>
          <div class="card-body">
            {{ form.daily_wage_abroad_currency.label(class="form-control-label") }} 
            {% if form.daily_wage_abroad_currency.errors %} 
              {{ form.daily_wage_abroad_currency(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.daily_wage_abroad_currency.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %} 
              {{ form.daily_wage_abroad_currency(class="form-select form-select-lg") }} 
            {% endif %}
          </div>
          <div class="col form-box">
            {{ form.contry_leaving.label(class="form-control-label") }} 
            {% if form.contry_leaving.errors %} 
              {{ form.contry_leaving(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.contry_leaving.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %} 
              {{ form.contry_leaving(class="form-control form-control-lg", type="datetime-local") }}
            {% endif %}
          </div>
          <div class="col form-box">
            {{ form.contry_return.label(class="form-control-label") }} 
            {% if form.contry_return.errors %} 
              {{ form.contry_return(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.contry_return.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %} 
              {{ form.contry_return(class="form-control form-control-lg", type="datetime-local") }} 
            {% endif %}
          </div>
        </div>
      </div>
      <br />
      <div class="row just-column">
        <div class="col form-box">
          {{ form.costs_pays.label(class="form-control-label") }} 
          {% if form.costs_pays.errors %} 
            {{ form.costs_pays(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.costs_pays.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %} 
            {{ form.costs_pays(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="col form-box">
          {{ form.daily_wage.label(class="form-control-label") }} {% if
          form.daily_wage.errors %} {{ form.daily_wage(class="form-control
          form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.daily_wage.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.daily_wage(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="col form-box col-md-2 minw120">
          {{ form.daily_wage_currency.label(class="form-control-label") }} {% if
          form.daily_wage_currency.errors %} {{
          form.daily_wage_currency(class="form-control form-control-lg
          is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.daily_wage_currency.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.daily_wage_currency(class="form-select
          form-select-lg") }} {% endif %}
        </div>
      </div>
      <div class="row top15 just-column">
        <div class="col form-box">
          {{ form.status.label(class="form-control-label") }} {% if
          form.status.errors %} {{ form.status(class="form-control
          form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.status.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.status(class="form-select form-select-lg") }} {%
          endif %}
        </div>
        <div class="col form-box">
          {{ form.advance_payment.label(class="form-control-label") }} {% if
          form.advance_payment.errors %} {{
          form.advance_payment(class="form-control form-control-lg is-invalid")
          }}
          <div class="invalid-feedback">
            {% for error in form.advance_payment.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.advance_payment(class="form-control
          form-control-lg") }} {% endif %}
        </div>
        <div class="col form-box col-md-2 minw120">
          {{ form.advance_payment_currency.label(class="form-control-label") }}
          {% if form.advance_payment_currency.errors %} {{
          form.advance_payment_currency(class="form-control form-control-lg
          is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.advance_payment_currency.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.advance_payment_currency(class="form-select
          form-select-lg") }} {% endif %}
        </div>
      </div>
      <br />
      <div id="accordion">
        <div class="accordion-item">
          <div class="accordion-header" id="headingOne">
            <button
              type="button"
              class="accordion-button collapsed"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              {{ form.vehicle_id.label(class="form-control-label") }}
            </button>
          </div>
          <div
            id="collapseOne"
            class="collapse"
            aria-labelledby="headingOne"
            data-parent="#accordion"
          >
            <div class="card-body">
              <div class="form-box">
                {% if form.vehicle_id.errors %} {{
                form.vehicle_id(class="form-control form-control-lg is-invalid")
                }}
                <div class="invalid-feedback">
                  {% for error in form.vehicle_id.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %} {{ form.vehicle_id(class="form-select
                form-select-lg") }} {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" id="headingTwo">
            <button
              type="button"
              class="accordion-button collapsed"
              data-toggle="collapse"
              data-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              {{ form.together_with.label(class="form-control-label") }}
            </button>
          </div>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordion"
          >
            <div class="card-body">
              <div class="form-box">
                {% if form.together_with.errors %} {{
                form.together_with(class="form-control form-control-lg
                is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.together_with.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %} {{ form.together_with(class="form-select
                form-select-lg", placeholder="Uneti broj putnog naloga kolege
                koji vozi službeno vozilo") }} {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" id="headingThree">
            <button
              type="button"
              class="accordion-button collapsed"
              data-toggle="collapse"
              data-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Lično Vozilo:
            </button>
          </div>
          <div
            id="collapseThree"
            class="collapse inertop15"
            aria-labelledby="headingThree"
            data-parent="#accordion"
          >
            <div class="card-body">
              <div class="form-box">
                {{ form.personal_vehicle_id.label(class="form-control-label") }}
                {% if form.personal_vehicle_id.errors %} 
                  {{ form.personal_vehicle_id(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.personal_vehicle_id.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %} 
                  {{ form.personal_vehicle_id(class="form-select form-select-lg") }} 
                {% endif %}
              </div>
              
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" id="headingFour">
            <h5 class="mb-0">
              <button
                type="button"
                class="accordion-button collapsed"
                data-toggle="collapse"
                data-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                {{ form.other.label(class="form-control-label") }}
              </button>
            </h5>
          </div>
          <div
            id="collapseFour"
            class="collapse"
            aria-labelledby="headingFour"
            data-parent="#accordion"
          >
            <div class="card-body">
              <div class="form-box">
                {% if form.other.errors %} {{ form.other(class="form-control
                form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.other.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %} {{ form.other(class="form-control form-control-lg",
                placeholder="Avion, Autobus, Taxi ...") }} {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-box">
        {{ form.principal_id.label(class="form-control-label") }}
          {% if form.principal_id.errors %}
              {{ form.principal_id(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.principal_id.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.principal_id(class="form-select form-select-lg") }}
          {% endif %}
      </div>
      <div class="form-box top15">
        {{ form.cashier_id.label(class="form-control-label") }}
          {% if form.cashier_id.errors %}
              {{ form.cashier_id(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.cashier_id.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.cashier_id(class="form-select form-select-lg") }}
          {% endif %}
      </div>
      <br />
      <hr />
      <div class="form-group">
        <a
          class="btn btn-outline-danger btn-block"
          href="{{ url_for('travel_warrants.add_expenses', warrant_id=warrant.travel_warrant_id) }}"
          >Dodaj trošak</a
        >
      </div>
      <br />
      <table id="data" border="1" class="table table-striped twtable">
        <thead>
          <tr id="header">
            <th>Tip troška</th>
            <th>Opis</th>
            <th>Iznos</th>
          </tr>
        </thead>
        <tbody>
          {% for trosak in troskovi %}
          <tr>
            <td class="align-middle">
              <a
                class="mr-2 btn btn-info"
                href="{{ url_for('travel_warrants.expenses_profile', warrant_id=warrant.travel_warrant_id, expenses_id=trosak.expenses_id) }}"
                title="Uređivanje Troška"
                >{{ trosak.expenses_type }}</a
              >
            </td>
            <td class="align-middle">{{ trosak.description }}</td>
            <td class="align-middle">{{ '{:,.2f}'.format(trosak.amount) }} {{ trosak.amount_currency }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
      <hr />
    </fieldset>
    <div class="form-group">
      <a
        class="btn btn-info"
        href="{{url_for('travel_warrants.travel_warrant_list')}}"
        >Nazad</a
      >
      {% if warrant.status == 'kreiran' %}
      <input
        class="btn btn-primary"
        type="submit"
        name="dugme"
        value="Završi"
      />
      {% elif warrant.status == 'završen' %}
      <input
        class="btn btn-primary"
        type="submit"
        name="dugme"
        value="Obračunajte"
      />
      {% endif %} 
      {{ form.submit(class="btn btn-outline-primary") }}
      <a
        class="btn btn-info"
        href="{{ url_for('travel_warrants.download_file', file_name=warrant.file_name) }}"
        >Preuzmite dokument</a>
      {% if current_user.authorization in ['c_functionary', 's_admin', 'c_admin', 'c_founder']  %}
      <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#DeleteModal">Obrišite putni nalog</button>
      {% endif %}
    </div>
  </form>
</div>
<!-- Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="DeleteModalLabel">Da li zaista želiite da trajno izbišete putninalog {{warrant.travel_warrant_number}}?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
      <label for="input_password">Zaposleni: {{ warrant.travelwarrant_user.name }} {{ warrant.travelwarrant_user.surname }}
        <br>Sa zadatkom: {{ warrant.with_task }}
        <br>Relacija: {{ warrant.relation }}
        <br>
        <br> Da biste izbrisali putni nalog potrebno je uneti svoju šifru.
      </label>
      </div>
      <div class="modal-footer">
      <form  action="{{ url_for('travel_warrants.delete_travel_warrant', warrant_id=warrant.travel_warrant_id) }}" method="post">
          <input class="form-control" type="password" id="input_password" name="input_password" value="" placeholder="potvrdite lozinkom">
          <br>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvorite</button>
          <input class="btn btn-danger" type="submit" value="Izbrišite putni nlaog">
      </form>
      </div>
  </div>
  </div>
</div>
{% endblock content %} 

{% block scripts %}
<script>
  $(document).ready(function () {
    $("#data").DataTable({
      language: {
        url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json",
      },
    });
  });
  var booleanValue = '{{form.abroad.data}}';
  const inputContryLeaving = $('#contry_leaving');
  const inputContryReturn = $('#contry_return');
  // window.alert(booleanValue);
  if (booleanValue === 'True') {
    booleanValue = false;
  } else if (booleanValue === 'False') {
    booleanValue = true;
  };
  window.onload = function() {
    myFunction();
  };

  // window.alert(booleanValue);
  function myFunction() {
    booleanValue = !booleanValue;
    // window.alert(booleanValue);
    var x = document.getElementById("collapseAbrod");
    if (booleanValue === true) {
      x.style.display = "block";
      inputContryLeaving.attr('required', true);
      inputContryLeaving.attr('min', $('#start_datetime').val());
      inputContryLeaving.attr('max', $('#end_datetime').val());
      inputContryReturn.attr('required', true);
      inputContryReturn.attr('min', $('#start_datetime').val());
      inputContryReturn.attr('max', $('#end_datetime').val());
    } else {
      x.style.display = "none";
      inputContryLeaving.attr('required', false);
      inputContryReturn.attr('required', false);
      inputContryLeaving.val('');
      inputContryReturn.val('');
    }
  }
</script>
<script>
  // Select the two date picker fields
  const startDateField = $('#start_datetime');
  const endDateField = $('#end_datetime');

  // Attach an event listener to the start date field
  startDateField.on('change', function() {
    // Get the selected start date as a Date object
    const startDate = new Date(startDateField.val());

    // Set the min attribute of the end date field to the selected start date
    endDateField.attr('min', formatDate(startDate));
  });
</script>
<script>document.body.classList.add('travel-warrant');</script>
{% endblock %}
