{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="row">
              <div class="col form-group">
                  {{ form.name.label(class="form-control-label") }}
                  {% if form.name.errors %}
                      {{ form.name(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.name.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.name(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
              <div class="col form-group">
                  {{ form.email.label(class="form-control-label") }}
                  {% if form.email.errors %}
                      {{ form.email(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.email.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.email(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
            </div>

            <div class="row">
              <div class="col form-group">
                  {{ form.surname.label(class="form-control-label") }}
                  {% if form.surname.errors %}
                      {{ form.surname(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.surname.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.surname(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
              <div class="col form-group">
                  {{ form.workplace.label(class="form-control-label") }}
                  {% if form.workplace.errors %}
                      {{ form.workplace(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.workplace.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.workplace(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
            </div>

            <div class="row">
              <div class="col form-group">
                  {{ form.gender.label(class="form-control-label") }}
                  {% if form.gender.errors %}
                      {{ form.gender(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.gender.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.gender(class="form-select form-select-lg") }}
                  {% endif %}
              </div>
              <div class="col form-group">
                  {{ form.default_vehicle.label(class="form-control-label") }}
                  {% if form.default_vehicle.errors %}
                      {{ form.default_vehicle(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.default_vehicle.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.default_vehicle(class="form-select form-select-lg") }}
                  {% endif %}
              </div>
            </div>

            <div class="row">
              {% if current_user.authorization == 's_admin'%}
                <div class="col form-group">
                    {{ form.authorization.label(class="form-control-label") }}
                    {% if form.authorization.errors %}
                        {{ form.authorization(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.authorization.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.authorization(class="form-select form-select-lg") }}
                    {% endif %}
                </div>
              {% else %}
                {{ form.authorization(class="sr-only form-select form-select-lg") }}
              {% endif %}
              {% if current_user.authorization == 's_admin'%}
                <div class="col form-group">
                    {{ form.company_id.label(class="form-control-label") }}
                    {% if form.company_id.errors %}
                        {{ form.company_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.company_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.company_id(class="form-select form-select-lg") }}
                    {% endif %}
                </div>
              {% else %}
                {{ form.company_id(class="sr-only form-select form-select-lg") }}
              {% endif %}
            </div>

        </fieldset>
        <div class="form-group">
          <a class="btn btn-info" href="{{url_for('users.user_list')}}">back</a>
          {{ form.submit(class="btn btn-outline-info") }}
          {% if current_user.authorization == 's_admin' or current_user.authorization == 'c_admin' %}
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#DeleteModal">Delete</button>
          {% endif %}
        </div>
  </form>
</div>
<!-- Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteModalLabel">Da li zaista želiite da trajno izbišete profil korisnika {{form.name.data}} {{form.surname.data}}?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="input_password">Da bi izbrisali korisnika potrebno je uneti svoju šifru.</label>
      </div>
      <div class="modal-footer">
        <form  action="{{ url_for('users.delete_user', user_id=user.id) }}" method="post">
          <input class="form-control" type="password" id="input_password" name="input_password" value="" placeholder="potvrdi lozinkom">
          <br>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvorite</button>
          <input class="btn btn-danger" type="submit" value="Izbrišite profil korisnika">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content%}
