{% extends "layout.html" %}
{% block content %}
{% if current_user.authorization not in ['c_user', 'c_member', 'o_cashier'] %}
  <a class="btn btn-info btn-sm m-1" href="{{ url_for('users.register_u') }}">Registrujte novog korisnika</a>
  <hr>
{% endif %}

<table id="data" border="1" class="table table-striped userlist">
  {% if current_user.authorization == 's_admin' %}
    <thead>
      <tr id="header">
        <th>Ime i prezime</th>
        <th>Kompanija</th>
        <th>Autorizacija</th>
        <th>email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td> <a class="mr-2 btn btn-info" href="{{ url_for('users.user_profile', user_id=user.id) }}" title="Uređivanje korisnika">{{ user.name }} {{ user.surname }}</a> {% if user.principal %} <i class="fa fa-pencil" title="Nalogodavac"></i> {% endif %}</td>
          <td>{{ user.user_company.companyname }}</td>
          <td>{{ user.authorization }}</td>
          <td>{{ user.email }}</td>
        </tr>
      {% endfor %}
    </tbody>
  {% elif current_user.authorization in ['c_admin', 'c_functionary', 'c_founder', 'c_cashier']  %}
    <thead>
      <tr id="header">
        <th>Ime i prezime</th>
        <th>email</th>
        <th>Autorizacija</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        {% if user.user_company.id == current_user.user_company.id %}
          {% if user.authorization != 'c_deleted' %}
            <tr>
              <td> <a class="mr-2 btn btn-info" href="{{ url_for('users.user_profile', user_id=user.id) }}" title="Uređivanje korisnika">{{ user.name }} {{ user.surname }}</a></td>
              <td>{{ user.email }}</td>
              <td class="tableflexcell">
                {% if user.principal %}
                  <i class="fa fa-pencil" title="Nalogodavac"></i>
                {% endif %}
                {% if user.authorization == 'c_user' %}
                  <img src="../../static/img/K-Light.png" alt="(K)" style="float: left; margin-right: 10px; width: 32px; height: 32px;" title="Korisnik">  ZAPOSLENI
                {% elif user.authorization == 'c_member' %}
                  <img src="../../static/img/K-Light.png" alt="(K)" style="float: left; margin-right: 10px; width: 32px; height: 32px;" title="Korisnik"></i>  ČLAN BEZ ZAPOSLENJA U PRAVNOM LICU
                {% elif user.authorization == 'c_admin' %}
                  <img src="../../static/img/A-Light.png" alt="(A)" style="float: left; margin-right: 10px; width: 32px; height: 32px;" title="Admin">  ZAPOSLENI
                {% elif user.authorization == 'c_functionary' %}
                  <img src="../../static/img/A-Light.png" alt="(A)" style="float: left; margin-right: 10px; width: 32px; height: 32px;" title="Admin">  FUNKCIONER BEZ ZAPOSLENJA U PRAVNOM LICU
                {% elif user.authorization == 'c_founder' %}
                  <img src="../../static/img/A-Light.png" alt="(A)" style="float: left; margin-right: 10px; width: 32px; height: 32px;" title="Admin">  OSNIVAČ BEZ ZAPOSLENJA U PRAVNOM LICU
                {% elif user.authorization == 'c_cashier' %}
                  <img src="../../static/img/A-Light.png" alt="(A)" style="float: left; margin-right: 10px; width: 32px; height: 32px;" title="Admin">  KNJIGOVOĐA/BLAGAJNIK
                {% elif user.authorization == 'o_cashier' %}
                  <img src="../../static/img/A-Light.png" alt="(A)" style="float: left; margin-right: 10px; width: 32px; height: 32px;" title="Admin">  KNJIGOVOĐA BEZ ZAPOSLENJA U PRAVNOM LICU
                {% endif %}</td>
            </tr>
          {% endif %}
        {% endif %}
      {% endfor %}
    </tbody>
  {% else %}
    <thead>
      <tr id="header">
        <th>Ime i prezime</th>
        <th>email</th>
        <th>Autorizacija</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        {% if user.id == current_user.id %}
          <tr>
            <td> <a class="mr-2 btn btn-info" href="{{ url_for('users.user_profile', user_id=user.id) }}" title="Uređivanje korisnika">{{ user.name }} {{ user.surname }}</a> {% if user.principal %} <i class="fa fa-pencil" title="Nalogodavac"></i> {% endif %} </td>
            <td>{{ user.email }}</td>
            <th>{{ user.authorization }}</th>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  {% endif %}
</table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable( {
        language: {
          url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json"
        }
      } );
    } );
  </script>
  <script>document.body.classList.add('user-list');</script>
{% endblock %}
