{% extends "layout.html" %}
{% block content %}

{% if current_user.authorization != 'c_user' %}
  <a class="btn btn-info btn-sm m-1" href="{{ url_for('users.register_u') }}">Registruj Novog Korisnika</a>
{% endif %}
<hr>

<table id="data" border="1" class="table table-striped">
  {% if current_user.authorization == 's_admin' %}
    <thead>
      <tr id="header">
        <th>Ime Prezime</th>
        <th>Kompanija</th>
        <th>Autorizacija</th>
        <th>email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td> <a class="mr-2" href="{{ url_for('users.user_profile', user_id=user.id) }}" title="Edit User">{{ user.name }} {{ user.surname }}</a> </td>
          <td>{{ user.user_company.companyname }}</td>
          <td>{{ user.authorization }}</td>
          <td>{{ user.email }}</td>
        </tr>
      {% endfor %}
    </tbody>
  {% elif current_user.authorization == 'c_admin' %}
    <thead>
      <tr id="header">
        <th>Ime Prezime</th>
        <th>email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        {% if user.user_company.id == current_user.user_company.id %}
          <tr>
            <td> <a class="mr-2" href="{{ url_for('users.user_profile', user_id=user.id) }}" title="Edit User">{{ user.name }} {{ user.surname }}</a> </td>
            <td>{{ user.email }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  {% else %}
    <thead>
      <tr id="header">
        <th>Ime Prezime</th>
        <th>email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        {% if user.id == current_user.id %}
          <tr>
            <td> <a class="mr-2" href="{{ url_for('users.user_profile', user_id=user.id) }}" title="Edit User">{{ user.name }} {{ user.surname }}</a> </td>
            <td>{{ user.email }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  {% endif %}
</table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}
