{% extends "layout.html" %}
{% block content %}
{% if current_user.authorization != 'c_user' %}
  <a class="btn btn-info btn-sm m-1" href="{{ url_for('vehicles.register_v') }}">Registruj Novo Vozilo</a>
{% endif %}
<table id="data" border="1" class="table table-striped">
  {% if current_user.authorization == 's_admin' %}
    <thead>
      <tr>
        <th>Tip Vozila</th>
        <th>Brend</th>
        <th>Registracija</th>
        <th>Kompanija</th>
      </tr>
    </thead>
    <tbody>
      {% for vehicle in vehicles %}
        <tr>
          <td><a class="mr-2 btn btn-info" href="{{ url_for('vehicles.vehicle_profile', vehicle_id=vehicle.id) }}" title="Uredđivanje Vozila">{{ vehicle.vehicle_type }}</a></td>
          <td>{{ vehicle.vehicle_brand }}</td>
          <td>{{ vehicle.vehicle_registration }}</td>
          <td>{{ vehicle.vehicle_company.companyname }}</td>
        </tr>
      {% endfor %}
    </tbody>
  {% elif current_user.authorization == 'c_admin' %}
    <thead>
      <tr>
        <th>Tip Vozila</th>
        <th>Brend</th>
        <th>Registracija</th>
      </tr>
    </thead>
    <tbody>
      {% for vehicle in vehicles %}
        {% if vehicle.vehicle_company.id == current_user.user_company.id %}
          <tr>
            <td><a class="mr-2 btn btn-info" href="{{ url_for('vehicles.vehicle_profile', vehicle_id=vehicle.id) }}" title="Uredđivanje Vozila">{{ vehicle.vehicle_type }}</a></td>
            <td>{{ vehicle.vehicle_brand }}</td>
            <td>{{ vehicle.vehicle_registration }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  {% endif %}
</table>
{% endblock content%}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}
