{% extends "layout.html" %}
{% block content %}
{% if current_user.authorization not in ['c_user', 'c_member'] %}
<a class="btn btn-info btn-sm m-1" href="{{ url_for('vehicles.register_v') }}">Registrujte novo vozilo</a>
{% endif %}
<hr>
<table id="data" border="1" class="table table-striped">
  {% if current_user.authorization == 's_admin' %}
    <thead>
      <tr>
        <th>Tip Vozila</th>
        <th>Marka vozila</th>
        <th>Registracija</th>
        <th>Kompanija</th>
      </tr>
    </thead>
    <tbody>
      {% for vehicle in vehicles %}
        <tr>
          <td><a class="mr-2 btn btn-info" href="{{ url_for('vehicles.vehicle_profile', vehicle_id=vehicle.id) }}" title="Uređivanje Vozila">{{ vehicle.vehicle_type }}</a></td>
          <td>{{ vehicle.vehicle_brand }}</td>
          <td>{{ vehicle.vehicle_registration }}</td>
          <td>{{ vehicle.vehicle_company.companyname }}</td>
        </tr>
      {% endfor %}
    </tbody>
  {% elif current_user.authorization in ['c_admin', 'c_principal', 'c_founder'] %}
    <thead>
      <tr>
        <th>Tip Vozila</th>
        <th>Marka vozila</th>
        <th>Registracija</th>
      </tr>
    </thead>
    <tbody>
      {% for vehicle in vehicles %}
        {% if vehicle.vehicle_company.id == current_user.user_company.id %}
          <tr>
            <td><a class="mr-2 btn btn-info" href="{{ url_for('vehicles.vehicle_profile', vehicle_id=vehicle.id) }}" title="Uređivanje Vozila">{{ vehicle.vehicle_type }}</a></td>
            <td>{{ vehicle.vehicle_brand }}</td>
            <td>{{ vehicle.vehicle_registration }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  {% endif %}
</table>
{% endblock content%}

{% block scripts %}
<script>
  $(document).ready(function () {
    $('#data').DataTable( {
      language: {
        url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json"
      }
    } );
  } );
</script>
{% endblock %}
